.fa{    
    padding: 10px;
    margin: 5px;
    font-size: 25px;
    /* width: 6%; */
    border-radius: 50%;
    border: 1px solid #ffe4b9;
    color:#ffe4b9;
    transition: .5s;
    cursor: pointer;
}
.contact-container{
    display: flex;
    gap: 20px;
    padding: 5px;
}
.fa:hover{
    color: black;
    background-color: #ffe4b9;
}
.head{
    margin-top: 50px;
    min-height: 30vh;
    padding: 10px;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    /* font-size: 50px; */
  }