.App {
  /* background-color: #1F2833; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
*{
  /* animation: dynamic 1.5s; */
  font-family: 'Roboto',sans-serif;

}

/* @keyframes dynamic {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
} */







